/*pone toda la pagina a 0 sin margenes ni pading*/
*{
    padding: 0px;
    margin:0px;
    
}

body{
    background-color: rgb(124, 177, 124);
}

/*le damos forma al header  o cabezera*/
header{
    background-color: #239157;
    font-size: 400% ;
    text-align: center;
    color: red;
    text-shadow: 4px 4px 4px grey;
   padding: 25px;
border-radius: 20px;
/*en Mac os no funciona el border-rodius*/
-webkit-border-radius:20px;

}

/* utilizamos el selector de id para menu*/
#menu{
    margin: auto;
    width: 500px;
}
 
/*le quitamos el estilo a las ul*/
ul, ol {
    list-style: none;
}

/* selecciona los elementos dentro de la clase nav que sean linias y tengan un link a>
y que al momento de pasar por encima cambien de color */
.nav li a:hover{
    background-color: gray;
}


.nav li a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block; 
    border-radius: 20px;

}
.nav>li{
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}
.nav li:hover > ul{
    display: block;
}
/*-------------------- barra lateral */
#sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    border-radius: 25px;
    background: white;
    color: black;
    /* esto hace que la barra se esconda a la izquierda */
    left: -200px;
    transition: 500ms linear;
}
#sidebar.active{
   left: 0px;;
}
#sidebar ul li{
    color: black;
    list-style: none;
    text-align: center;
    padding: 15px 10px;
    border-bottom: 1px solid grey;
}

.logo {
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}
#sidebar .toggle-btn{
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
}

#sidebar .toggle-btn span{
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 1px solid black;
}